*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

button,
label {
  cursor: pointer;
}

input {
  font: inherit;
}

.transaction-table {
  border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
  padding: 8px;
  border: 1px solid #2a2a2a;
}

.color-picker__option {
  display: inline-block;
  width: 74px;
  height: 74px;
  margin: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.gallery-img {
  flex-basis: calc((100% - 48px) / 3);
}

.car-search {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.car-group {
  margin-right: 10px;
}

.car-input,
.car-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.car-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.car-button:hover {
  background-color: #0056b3;
}

.car-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.car-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.car-image {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}

.car-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
}

.car-type {
  font-size: 18px;
  color: #666;
  margin-bottom: 5px;
}

.car-price {
  font-size: 20px;
  color: #ff6600;
  font-weight: bold;
}
